<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 🎵 Sheet of Inventory 🎵</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Sheet of Inventory</a>
            </h1>
            <nav>
                 {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting: 
            we are here for all your inventory needs!
        </footer>
    </div>
    
    {{#if loggedIN}}
    <script src="javascript/logout.js"></script>
    {{/if}}
</body>
</html>