* {
    box-sizing: border-box;
  }
  
  body {
    background-color: light rgb(228, 189, 196);
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial,  sans-serif;    
  }
  
  title {
    font-size: 100px;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: rgb(124, 9, 67);
  }
  
  button, .button {
    background-color: pink;
    border: 0;
    padding: 1%;
    color: black;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover, .button:hover{
    background-color: palevioletred;
  } 

  /* ------PRODUCT PAGE ------*/
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .control {
    display: flex;
    flex-direction: row
  }

  .option {
    padding: 0px 5px;
  }

  #dropdown:hover {
    color: palevioletred;
  }

  /* ------DASHBOARD PAGE ------*/
  .container {
    padding: 30px 15px;
    margin: 10px 30px;
  }

  textarea:focus, input:focus {
    outline: none;
    border: 1px solid rgb(235, 201, 218)
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  /* .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  } */
  
  header {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header h1 {
    font-size: 1em;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }

  footer {
    background-color: pink;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }