<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>🎵 Sheet of Inventory 🎵</title>
<link href="https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:400,400i,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/public/stylesheet/style.css" />
</head>

<body>
    <header class="py-3 mb-3">
        <div class="flex-row justify-space-between align-center container-fluid mx-auto">
        <h1 class="display-4 text-white bg-secondary p-3">Sheet of Inventory</h1>
        <h4 class="text-light bg-secondary p-3">An Instrument Warehouse Application </h3>
        </div>
        <div class="container-fluid mx-auto">
            <section class="p-3 my-4 bg-dark ">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </section>
        </div>
    </header>
    

<main class="container-fluid mx-auto mb-4">
 
    <section class="my-2 flex-row justify-space-between">
        <form>
            <div class="col-12 col-lg-3 bg-dark p-3">
                <h3 class="text-light">Search for Instruments</h3>
               
                <div class="flex-row justify-center">
                    
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body text-primary">
                          <h5 class="card-title">Primary card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    <div class="col-auto mb-2">            
                    <input type="radio" id="guitars" >
                    <label for="guitar-input">Guitars</label>
                    </div>
                    
                    <div class="col-auto mb-2">
                    <input type="radio" id="percussion-input" name="percussion">
                    <label for="percussion-input">Percussion</label>
                    </div>                    
                
            </div>              
        </form>
    </div> 


</main>

</body>

</html>